/*
 Top level layout classes
=============================*/
html,
body {
    height: 100%; // vh does not work on mobile devices
}

<!--body {
    height: 100%; // vh does not work on mobile devices
    background-image: url("/assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#background_opacity {
position: fixed;
z-index: -10;
top: 0; left: 0; right: 0; bottom: 0;
background-color: rgba(255, 255, 255, 0.5); /* L'opacite se regle ici */
}-->

.page-container {
    position: relative;
    min-height: 100%; // vh does not work on mobile devices
}

.page-content {
    padding-bottom: 1rem;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 2rem;
}
